* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica neue", serif;
  margin: 0;
  background: #161616;
  height: 300vh;
}

header {
  background-color: #1a1e1f;
  height: 100px;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0.9;
  z-index: 100;
}
.header-logo {
  width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header nav {
  width: 454px;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.header-content-wrapper {
  display: flex;
  min-height: auto;
  width: 1020px;
  justify-content: space-between;
}
header li {
  font-family: "Helvetica Neue", sans-serif;

  cursor: pointer;
  list-style-type: none;
  color: #fff;
  transition: 0.3s;
  text-wrap: nowrap;
}

header li:hover {
  color: #00adee;
}
.curr-page {
  color: #00adee;
}
.menu-button {
  width: 26px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  display: none;
  
}
.menu-button .line-3 {
  width: 50%;
  margin-left: auto;
}
.menu-button .line-1{
    width: 50%;
}


.menu-button > div {
  width: 100%;
  height: 3px;
  border-radius: 18px;
  background-color: white;
}


/* main  */
main{
  padding-top: 100px;
  
}
.project-description{
  display: flex;
  flex-direction: column;
}
.image-wrapper{
  position: relative;
width: 100vw; 
margin: 0 auto;
/* height: 352px; */
object-position: top; 

object-fit: cover;
align-self: center;
 
}
.text-wrapper{
  font-family: "helvetica";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  
}
.image-wrapper >img{
  width: 100%;
}
.project-info-wrapper-outer{
  width: 100%;
  display: flex;
  font-family: "helvetica",sans-serif;
  color: white;
  background-color: #2b2b2b;
  padding: 3rem 0;
  margin-top: -5px;
}
.project-info-wrapper-inner{
  width: 1020px;
  margin: 0 auto;
  align-self: center;
  font-size: 22px;
  font-weight: normal;
}

.project-info-wrapper-inner > span{
  cursor: pointer;
  transition: 0.3s;
  font-weight: bolder;
  display: inline-block;
    padding: 2rem 0;
  color: #00adee;
}
.project-info-wrapper-inner > span:hover{
  color:white;
}
.our-courses{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1020px;
}
.our-courses > h2{
 color: white;
 font-size: 2.5rem;
 font-weight: 200;
}
.course-wrapper{
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-template-rows:repeat(3,414px) ;
  gap: 2rem;
}
.course{
  border: 1px solid gray;
  border-radius: 5px;
  
}
.course img{
  width: 100%;
}
.course-details-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  color:#00adee ;
  transition: 0.3s;
  cursor: pointer;
}
.course-details-wrapper:hover{
  color: #0b90c0;
}
.course-info-wrapper{
  display: flex;
  margin-left: 1.2rem;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 150px);
}
.course-name-wrapper{
  color: white;
  font-family: "helvetica neue",sans-serif;
  font-weight: bold;
}
.course-details-wrapper svg{
  padding-top: 5px;
  scale: 1.3;
  
  
}

@media (max-width: 600px) {
  .course-details-wrapper{
    margin: 1rem 0;
    
  }
  
  .our-courses{
    width: 100vw;
    justify-content: center;
    align-items: center;
    
  }
  .our-courses h2{
    font-size: 2rem;
    justify-self: left;
  }
  .course-wrapper{
    display: grid;
    grid-template-columns: 90vw;
    /* grid-template-rows:repeat(1,414px) ; */
    gap: 2rem;
  }
  .project-info-wrapper-outer{
    padding: 3rem 1rem;
    padding-bottom: 3rem;
    
  }
  
  .project-info-wrapper-inner{
    font-size: 0.9rem;
    word-spacing: 0.8;
  }
  .project-info-wrapper-inner h1{
    letter-spacing: normal;
    font-weight:100;
  }
  .text-wrapper{
    margin: 1rem;
    top: 40%;
    
    font-size: 1.3rem;
  transform: translate(-50%, -50%);

  }
  main{
    padding-top: 0px;
  }
  header {
    top: 0;
    z-index: 100;
    position: sticky;
  }
  header nav {
    display: none;
  }
  .menu-button {
    display: flex;
  }
  .header-content-wrapper {
    padding: 0 2rem;
    align-items: center;
  }
}