* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica neue", serif;
  margin: 0;
  background: #161616;
  height: 300vh;
  padding-bottom: 3rem;
  overflow: auto;
}

header {
  background-color: #1a1e1f;
  height: 100px;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0.9;
  z-index: 100;
}
.header-logo {
  width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header nav {
  width: 454px;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.header-content-wrapper {
  display: flex;
  min-height: auto;
  width: 1020px;
  justify-content: space-between;
}
header li ,aside li{
  font-family: "Helvetica Neue", sans-serif;

  cursor: pointer;
  list-style-type: none;
  color: #fff;
  transition: 0.3s;
  text-wrap: nowrap;
}

header li:hover {
  color: #00adee;
}
.curr-page {
  color: #00adee;
}
#bg-wrapper{
  width: 100vw;
  height: 100%;
  background-color: rgb(5, 5, 5);
  z-index: 200;
  opacity: 1;
}
.aside-menu{
  
  position: fixed;
  width: 60vw;
  background-color: #222222;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 200;
  text-align: right;
  padding-right: 3rem;
  /* display: none; */
  transform: translateX(60vw);
  transition: 0.5s;
}
.aside-menu ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.1rem;
  margin-top: 7rem;
}

.menu-button {
  width: 26px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  display: none;
  z-index: 400;
  right: 2rem;
}

.menu-button .line-3 {
  width: 50%;
  margin-left: auto;
}
.menu-button .line-1 {
  width: 50%;
}
.menu-button .line-2,
.menu-button .line-1,
.menu-button .line-3 {
  transition: 0.3s;
  border: none;
}


.menu-button > div {
  width: 100%;
  height: 3px;
  border-radius: 18px;
  background-color: white;
}

/* main  */
.main-image{
  object-fit: cover;
  object-position: top;
}
main {
  padding-top: 100px;
}
.project-description {
  display: flex;
  flex-direction: column;
}
.image-wrapper {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  object-position: top;

  object-fit: cover;
  align-self: center;
}
.text-wrapper {
  font-family: "helvetica";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
}
.image-wrapper > img {
  width: 100%;
}
.project-info-wrapper-outer {
  width: 100%;
  display: flex;
  font-family: "helvetica", sans-serif;
  color: white;
  background-color: #2b2b2b;
  padding: 3rem 0;
  margin-top: -5px;
}
.project-info-wrapper-inner {
  width: 1020px;
  margin: 0 auto;
  align-self: center;
  font-size: 22px;
  font-weight: normal;
}

.project-info-wrapper-inner > span {
  cursor: pointer;
  transition: 0.3s;
  font-weight: bolder;
  display: inline-block;
  padding: 2rem 0;
  color: #00adee;
}
.project-info-wrapper-inner > span:hover {
  color: white;
}
.our-courses {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1020px;
}
.our-courses > h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
}
.course-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-template-rows: repeat(3, auto);
  gap: 2rem;
}
.course {
  border: 1px solid gray;
  border-radius: 5px;
  height: auto;
}
.course img {
  width: 100%;
}
.course-details-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #00adee;
  transition: 0.3s;
  cursor: pointer;
}
.course-details-wrapper:hover {
  color: #0b90c0;
}
.course-info-wrapper {
  display: flex;
  margin-left: 1.2rem;
  flex-direction: column;
  justify-content: space-around;
}
.course-name-wrapper {
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: bold;
}
.course-name-wrapper > h3,
.course-name-wrapper > p {
  white-space: nowrap;
  font-size: 1rem;
}
.course-details-wrapper svg {
  padding-top: 5px;
  scale: 1.3;
}

/* carousel  */
#carousel {
  width: 100vw;
  position: relative;
  margin: 0 auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.7s ease-in;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}

.carousel-item {
  min-width: 2500px;
  box-sizing: border-box;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: white;
}

.carousel-prev {
  left: 100px;
  top: -130px;
}

.carousel-next {
  right: 100px;
  top: -130px;
}

.carousel-dots {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.carrousel-wrapper {
  display: flex;
  flex-direction: column;
  height: 364px;
  justify-content: space-around;
  margin: 5rem auto;
  margin-top: 3rem;
  max-width: 100vw;
  overflow: hidden;

  background-color: #2b2b2b;
}
.carrousel-wrapper svg {
  fill: white;
  stroke-width: 1px;
  width: 1.4rem;
}
.carrousel-wrapper svg:hover {
  fill: gray;
}
.carrousel-wrapper > h2 {
  color: rgb(218, 211, 211);
  margin-left: 2rem;
  max-width: 1020px;
  text-align: left;
  align-self: center;
  margin-left: -600px;
  font-size: 1.6rem;
}

.sponsors-slide {
  align-self: center;
  max-width: 1020px;
  display: flex;
  margin-top: -7rem;
  justify-content: space-around;
  align-items: center;
}
.FAQ {
  max-width: 1020px;
  margin: 0 auto;
  height: 500px;
  
}
.FAQ-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
  color: white;
  justify-content: space-between;
}
.FAQ-header > span,
.all-answers-span {
  color: #0b90c0;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.FAQ-header > span:hover,
.all-answers-span:hover {
  color: white;
}
.all-answers-span {
  display: none;
}
.FAQ-questions-wrapper {
  color: white;
}
.FAQ ul{
  list-style: none;
}
.FAQ-questions-wrapper svg {
  fill: white;
}
.FAQ-questions-wrapper details summary {
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 2rem 0;
  cursor: pointer;
 
}

.FAQ-questions-wrapper details {
  border-bottom: 1px solid gray;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.dopdown-hidden-text {
  
  max-height: 1000px;
}

details:not([open]) > .dopdown-hidden-text  {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  
}


details .dopdown-hidden-text {
  max-height: 1000px; 
  transition: max-height 0.3s ease-in;
  opacity: 0;
  overflow: hidden;
}
details[open] .dopdown-hidden-text{
  opacity: 1;
  max-height: 1000px;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;

}

details[open] svg {
  height: auto;
  rotate: 180deg;
}

summary::marker {
  display: block;
}


footer a{
  color: white;
  text-decoration: none;
}
footer a span{
  display: block;
  font-size: 1.1rem;
  text-align: center;
}
.message-us:hover{
  background-color: white;
  color: black;
}
footer{
  width: 100vw;
  background-color: #1a1e1f;
  padding: 5rem 0;
}
.footer-wrapper {
  
  color: white;
  max-width: 1020px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    'tbc . . . . . . . . . soc'
    'rights . . . . . . . . .mes';
  row-gap: 1rem ;
}

.tbc-logo {
  grid-area: tbc;
}

.social-icons {
  grid-area: soc;
  
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.message-us {
  grid-area: mes;
  display: inline-block;
  background-color: #00adee;
  border-radius: 8px;
  padding: 8px 16px;
  transition: 0.5s;
  height: 70%;
  align-self: flex-end;
}

.rights {
  grid-area: rights;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.rights span:nth-child(2){
  cursor: pointer;
  transition: 0.3s;
}
.rights a{
  cursor: pointer;
}
.rights span:nth-child(2):hover{
  color: gray;
}

@media (max-width: 1024px) {
  .footer-wrapper{

    grid-template-areas:
    'tbc . . .'
    'mes soc . . '
    'rights . . . ';
    
    padding-bottom: 2rem;
    row-gap: 4rem;
  }
  .message-us{
    justify-self: start;
    scale: 1.2;
  }
  .tbc-logo{
    scale: 1.2;
  }
  footer{
    padding: 2rem;
  }
  .rights{
    white-space: nowrap;
    flex-direction: column-reverse;
  }
  .message-us{
    height: 100%;
  }
  .FAQ {
    width: 90vw;
    margin: 2rem;
    height: auto;
  }
  .FAQ-header > span {
    display: none;
  }
  .FAQ-header > h2 {
    font-size: 1.7rem;
    font-weight: normal;
  }
  .all-answers-span {
    display: inline-block;
    margin: 3rem 0;
    width: 100%;
    text-align: center;
  }
  .carousel-inner {
    transition: transform 0.3s ease-in;
  }
  .carousel-item {
    min-width: 100%;
  }
  .carousel-dots {
    bottom: 0;
  }
  .carrousel-wrapper svg {
    display: none;
  }
  .carrousel-wrapper > h2 {
    color: rgb(218, 211, 211);
    margin-left: 2rem;

    align-self: unset;
    font-size: 1.6rem;
  }
  .carrousel-wrapper {
    height: 70vh;
  }
  .sponsors-slide {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 100vw;
  }
  .sponsors-slide > img {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .course-details-wrapper {
    margin: 1rem 0;
  }

  .our-courses {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .our-courses h2 {
    font-size: 2rem;
    justify-self: left;
  }
  .course-wrapper {
    display: grid;
    grid-template-columns: 90vw;
    gap: 2rem;
  }
  .project-info-wrapper-outer {
    padding: 3rem 1rem;
    padding-bottom: 3rem;
  }

  .project-info-wrapper-inner {
    font-size: 0.9rem;
    word-spacing: 0.8;
  }
  .project-info-wrapper-inner h1 {
    letter-spacing: normal;
    font-weight: 100;
  }
  .text-wrapper {
    margin: 1rem;
    top: 40%;

    font-size: 1.3rem;
    transform: translate(-50%, -50%);
  }
  main {
    padding-top: 0px;
  }
  header {
    top: 0;
    z-index: 100;
    margin-top: 0;
    position: sticky;
    margin-top: -20px;
  }
  header nav {
    display: none;
  }
  .menu-button {
    display: flex;
    position: sticky;
    top: 2.8rem;
    right: 2rem;
    margin-left: auto;
  }

  .header-content-wrapper {
    padding: 0 2rem;
    align-items: center;
  }
}
